matplotlib
networkx
numpy==1.26.4
omegaconf
pillow
pyparsing
six
open3d
opencv-python
pandas
pygame
scikit-learn
scipy
seaborn
--find-links https://download.pytorch.org/whl/torch_stable.html
torch
torchvision
tqdm