setuptools
distro
wheel
typing-extensions
pyzmq
protoc-wheel
# Protobuf version must be maintained
# between artery and opencda!
protobuf==5.27.0
carla==0.9.15
cmake
easydict
numba
scikit-image
tqdm
PyYAML
cython
tensorboardX
einops
timm
spconv-cu126
coloredlogs
