matplotlib==3.4.2
networkx==2.5.1
numpy==1.20.3
pillow==8.3.2
pyparsing==2.4.7
six==1.16.0
open3d
opencv-python==4.5.2.52
pandas==1.3.3
pygame
scikit-learn==0.24.2
scipy==1.6.3
seaborn==0.11.1
lxml
shapely==1.8.4
omegaconf==2.1.0
notebook==6.4.3
jupyter-packaging==0.10
pyyaml==5.4.1