.vscode
data/csv
data/sumo_gened_maps
data/vizualization


experements
experements_backup
data_visualizations_backup

experements_configs/*
!experements_configs/model_config.yaml
!experements_configs/train_config.yaml

bash_prepare_data.sh
bash_train.sh

tests.py